.imageToggleWrapper {
  display: grid;
  grid-template-columns: minmax(100px, 20%) 1fr;
  grid-template-areas: "toggleButtons images";
  column-gap: 5%;
  position: relative;

  @media (max-width: 1024px) {
    display: flex;
    flex-direction: column;
  }
}
.imageButtonWrapper {
  grid-area: toggleButtons;
  display: flex;
  flex-direction: column;

  @media (max-width: 1024px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.imageWrapper {
  grid-area: images;
  position: absolute;

  @media (max-width: 1024px) {
    display: flex;
    position: relative;
  }
}
.imageButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select: none;
  border: 2px solid #1c4ad2;
  border-radius: 4px;
  font-size: 14px;
  padding: 4px;
  font-weight: 500;
  background-color: #f9f9f9;
  margin-bottom: 12px;

  * {
    pointer-events: none;
  }

  &:focus {
    outline: 0;
  }

  @media (min-width: 426px) {
    padding: 6px 4px;
    font-size: 16px;

    &:hover {
      box-shadow: inset 0 0 10px #1c4ad2;
    }
  }

  @media (max-width: 1024px) {
    margin-right: 4px;
  }
}
.buttonIcon {
  vertical-align: middle;
  color: #1c4ad2;
  margin-left: 4px;
}
