.imageToggleWrapper {
  display: flex;
  flex-direction: column;
}
.imageButtonWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.imageWrapper {
  box-shadow: #00000059 0px 5px 15px;
}
.mobileImageWrapper {
  margin: 0 auto;
  max-width: 30vw;
}
.desktopImageWrapper {
  margin: 0 auto;
  max-width: 100vw;
}
.imageHidden {
  display: none;
}
.imageVisible {
  display: flex;
}
.imageButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select: none;
  border: 2px solid #1c4ad2;
  border-radius: 4px;
  font-size: 14px;
  padding: 4px;
  font-weight: 500;
  background-color: #f9f9f9;
  margin-right: 8px;
  margin-bottom: 12px;
  box-shadow: #4c65af 0px 3px 4px;

  * {
    pointer-events: none;
  }

  &:focus {
    outline: 0;
  }

  @media (min-width: 426px) {
    padding: 6px 4px;
    font-size: 16px;

    &:hover {
      box-shadow: #1c4ad2 0px 1px 1px;
    }
  }

  @media (max-width: 1024px) {
    margin-right: 4px;
  }
}
.buttonIcon {
  vertical-align: middle;
  color: #1c4ad2;
  margin-left: 4px;
}
