.sideNavWrapper {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    rgba(0, 0, 0, 0.55) url("../../public/skyline.jpg");
  background-size: cover;
  background-position: center;
  padding: 24px;
  color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  @media (max-width: 425px) {
  }
}
