.navWrapper {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    rgba(0, 0, 0, 0.55) url("../../public/skyline.jpg");
  background-size: cover;
  background-position: center;
  padding: 0 24px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.mePic {
  width: "100%";
  height: "auto";
  max-height: "200px";
  max-width: "200px";
}
.sideNavLink {
  color: inherit;
  text-decoration: none;

  @media (min-width: 425px) {
    font-size: 46px;
  }
}
.navText {
  text-align: center;
}
.socialLinks {
  display: flex;
  justify-content: space-around;
  width: 100%;
  bottom: 5%;
  left: 0;
}
.socialLink {
  color: #d3d3d3;
  font-size: 32px;

  &:hover {
    color: #1c4ad2;
  }
}
